---
title: Presentations
layout: collection
permalink: /presentations/
collection: presentations
classes: wide
---
<div clsas="archive">
<div class="entries-grid">
{%- for presentation in collections.presentations | sort: "presentation.data.date" -%}

<div class="grid__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <img src="{{presentation.data.header.overlay_image}}" / >
	<h3 class="archive__item-title no_toc" itemprop="headline">
      {% if presentation.data.permalink %}
        <a href="{{ presentation.data.permalink }}">{{ presentation.data.title }}</a> 
      {% endif %}
    {% if presentation.data.date %}<p class="archive__item-excerpt" itemprop="description">{{ presentation.data.blurb | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
{% endfor %}
</div>
</div>